﻿
<div layout="row" class="upload_main_div" ng-cloak layout-align="left top">
    <div layout="column" class="upload_column_div">
        <form name="noticeForm" class="notice" ng-show="showNoticeForm" ng-submit="submit()">
            <span class="md-headline">1. Skelbimo Redagavimas</span><br /><br />

            <div layout="column">
                <span class="md-headline">Pasirinkite veiksmą</span><br />
                <md-radio-group required name="purpose" ng-model="purpose">
                    <md-radio-button value="0"> Siūlyti </md-radio-button>
                    <md-radio-button value="1"> Ieškoti </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <span class="md-subhead">Pasirinkite objekto tipą.</span>
                <md-input-container class="md-block">
                    <label>Objekto tipas</label>
                    <md-select ng-model="objectType" width="4">
                        <md-option ng-class="upload_div"><em>Pasirinkite tipą</em></md-option>
                        <md-option ng-repeat="type in types" ng-value="type.name">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <span class="md-headline">Pasirinkite veiksmą</span><br />
                <md-radio-group required name="goal" ng-model="goal">
                    <md-radio-button value="0"> Nuoma </md-radio-button>
                    <md-radio-button value="1"> Pardavimas </md-radio-button>
                    <md-radio-button value="2"> Mainai </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <span class="md-subhead">Įveskite skelbimo pavadinimą</span>
                <md-input-container class="md-block">
                    <label>Pavadinimas</label>
                    <input md-maxlength="30" required name="name" ng-model="name">
                    <div ng-messages="uploadForm.name.$error" multiple md-auto-hide="true">
                        <div ng-message="required">Pavadinimas privalomas.</div>
                        <div ng-message="md-maxlength">Pavadinimas turi būti ne ilgesnis nei 30 simbolių.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Aprašymas</label>
                    <textarea name="description" required mg-maxlength="255" rows="5" md-select-on-focus ng-model="description"></textarea>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kontaktinis el. paštas</label>
                    <input md-maxlength="30" required name="email" type="email" ng-model="email">
                    <div ng-messages="uploadForm.email.$error">
                        <div ng-message="required">Elektroninis paštas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kontaktinis telefono numeris</label>
                    <input md-maxlength="15" required name="number" ng-model="number">
                    <div ng-messages="uploadForm.number.$error">
                        <div ng-message="required">Kontaktinis telefono numeris yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>
            @*<div layout="column">
                    <md-input-container class="md-block">
                        <label>Miestas</label>
                        <input md-maxlength="20" required name="city" ng-model="city">
                        <div ng-messages="uploadForm.city.$error">
                            <div ng-message="required">Miestas yra privalomas.</div>
                        </div>
                    </md-input-container>
                </div>*@
            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kaina</label>
                    <input required name="price" type="number" ng-model="price">
                    <div ng-messages="uploadForm.price.$error">
                        <div ng-message="required">Kaina yra privaloma.</div>
                    </div>
                </md-input-container>
            </div>

            <md-button  class="md-raised md-primary" ng-click="submit()" ng-disabled="noticeForm.$invalid">
                <label>Redaguoti</label>
            </md-button>
        </form>


    </div>
    <div layout="column" class="upload_column_div">
        @*<div layout="column">
                <md-input-container class="md-block">
                    <label>Miestas</label>
                    <input md-maxlength="20" required name="city" ng-model="city">
                    <div ng-messages="uploadForm.city.$error">
                        <div ng-message="required">Miestas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>*@
    </div>


</div>