﻿        <div layout="row" layout-sm="column">
            <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
        </div>
    <div class='md-padding' layout-align="center start" layout="row" layout-wrap>
        <div layout="row" flex layout-align="center start" layout-wrap>
            <md-card flex="40" layout="column">
                <md-card-content layout="column">
                    <h2>{{notice.Name}}</h2>
                    <img src="../../Content/namas.jpg" height="100%" width="100%">
                    <p>Miestas: {{notice.City}}</p>
                    <p>Kaina: {{notice.Price}}</p>
                    <p>Zemes plotas: {{notice.Area}}</p>
                    <p>Pastatu atributai:</p>
                    <ul ng-repeat="building in notice.Buildings" layout="column">
                        <li><p>Pastatymo data: {{building.BuildingDate}}</p></li>
                        <li><p>Aukstu skaicius: {{building.FloorCount}}</p></li>
                        <li><p>Plotas: {{building.Area}}</p></li>
                        <li>
                            <p ng-show="building.Heating==10">Sildymas: Kita</p>
                            <p ng-show="building.Heating==9">Sildymas: Nesildoma</p>
                            <p ng-show="building.Heating==8">Sildymas: Krosnimi</p>
                            <p ng-show="building.Heating==6">Sildymas: Geoterminis</p>
                            <p ng-show="building.Heating==5">Sildymas: Misrus</p>
                            <p ng-show="building.Heating==4">Sildymas: Elektra</p>
                            <p ng-show="building.Heating==3">Sildymas: Centrinis kolektorinis</p>
                            <p ng-show="building.Heating==2">Sildymas: Centrinis</p>
                            <p ng-show="building.Heating==1">Sildymas: Dujinis</p>
                            <p ng-show="building.Heating==0">Sildymas: Nera</p>
                        </li>
                        <li><p ng-show="building.HasWater=true">Vandentiekis: Yra</p><p ng-show="building.HasWater=false">Vandentiekis: Nera</p></li>
                        <li><p ng-show="building.HasPlumbing=true">Kanalizacija: Yra</p><p ng-show="building.HasPlumbing=false">Kanalizacija: Nera</p></li>
                    </ul>
                    <p>{{notice.Description}}</p>
                </md-card-content>
                <mg-card-content layout="column">
                    <h2>Pardavejo kontaktai</h2>
                    <h4>{{notice.Number}}</h4>
                    <h4>{{notice.Email}}</h4>
                </mg-card-content>
            </md-card>
        </div>
    </div>
    <script src="../../Scripts/js/shownotice.js"></script>
    <script src="../../Scripts/js/shownoticeController.js"></script>
