﻿<div layout="column" class="upload_main_div" layout-align="left top">
    <div layout-align="center center" layout="column" class="upload_column_div">
        <form name="noticeForm" class="notice" ng-show="showNoticeForm" ng-submit="submit()">
            <span class="md-headline">1. Skelbimo įdėjimas</span><br /><br />

            <div layout="column">
                <span class="md-headline">Pasirinkite veiksmą</span><br />
                <md-radio-group required name="purpose" ng-model="purpose">
                    <md-radio-button value="0"> Siūlyti </md-radio-button>
                    <md-radio-button value="1"> Ieškoti </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <span class="md-subhead">Pasirinkite objekto tipą.</span>
                <md-input-container class="md-block">
                    <label>Objekto tipas</label>
                    <md-select ng-model="objectType" width="4">
                        <md-option ng-class="upload_div"><em>Pasirinkite tipą</em></md-option>
                        <md-option ng-repeat="type in types" ng-value="type.name">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <span class="md-headline">Pasirinkite veiksmą</span><br />
                <md-radio-group required name="goal" ng-model="goal">
                    <md-radio-button value="0"> Nuoma </md-radio-button>
                    <md-radio-button value="1"> Pardavimas </md-radio-button>
                    <md-radio-button value="2"> Mainai </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <span class="md-subhead">Įveskite skelbimo pavadinimą</span>
                <md-input-container class="md-block">
                    <label>Pavadinimas</label>
                    <input md-maxlength="30" required name="name" ng-model="name">
                    <div ng-messages="uploadForm.name.$error" multiple md-auto-hide="true">
                        <div ng-message="required">Pavadinimas privalomas.</div>
                        <div ng-message="md-maxlength">Pavadinimas turi būti ne ilgesnis nei 30 simbolių.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Aprašymas</label>
                    <textarea name="description" required mg-maxlength="255" rows="5" md-select-on-focus ng-model="description"></textarea>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kontaktinis el. paštas</label>
                    <input md-maxlength="30" required name="email" type="email" ng-model="email">
                    <div ng-messages="uploadForm.email.$error">
                        <div ng-message="required">Elektroninis paštas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kontaktinis telefono numeris</label>
                    <input md-maxlength="15" required name="number" ng-model="number">
                    <div ng-messages="uploadForm.number.$error">
                        <div ng-message="required">Kontaktinis telefono numeris yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>
            @*<div layout="column">
                <md-input-container class="md-block">
                    <label>Miestas</label>
                    <input md-maxlength="20" required name="city" ng-model="city">
                    <div ng-messages="uploadForm.city.$error">
                        <div ng-message="required">Miestas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>*@
            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kaina</label>
                    <input required name="price" type="number" ng-model="price">
                    <div ng-messages="uploadForm.price.$error">
                        <div ng-message="required">Kaina yra privaloma.</div>
                    </div>
                </md-input-container>
            </div>

            <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="noticeForm.$invalid">
                <label><a href="#"></a>Toliau</label>
            </md-button>
        </form>


        <form name="addressForm" class="address" ng-show="showAddressForm" ng-submit="submitAddress()">
            <span class="md-headline">2. Adresas</span><br /><br />

            <div layout="column">
                <span class="md-subhead">Pasirinkite valstybę.</span>
                <md-input-container class="md-block">
                    <label>Valstybė</label>
                    <md-select ng-model="countryType" width="4">
                        <md-option><em>Pasirinkite tipą</em></md-option>
                        <md-option ng-repeat="cType in countryTypes" ng-value="cType.name">
                            {{cType.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Miestas</label>
                    <input md-maxlength="20" required name="city" ng-model="city">
                    <div ng-messages="addressForm.city.$error">
                        <div ng-message="required">Miestas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Gatvė</label>
                    <input md-maxlength="20" name="street" ng-model="street">
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Namo (buto) numeris</label>
                    <input md-maxlength="20" name="buildingNumber" ng-model="buildingNumber">
                </md-input-container>
            </div>

            <div layout="row">
                <md-button href="#" class="md-raised md-primary" ng-click="backToNotice()">
                    <label>Atgal</label>
                </md-button>

                <md-button class="md-raised md-primary" ng-click="submitAddress()" ng-disabled="addressForm.$invalid">
                    <label><a href="#"></a>Toliau</label>
                </md-button>
            </div>

        </form>




        <form name="buildingForm" class="building" ng-show="showBuildingForm" ng-submit="submitBuilding()">
            <span class="md-headline">3. Pastatas</span><br /><br />

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Plotas m²</label>
                    <input md-maxlength="20" name="area" ng-model="area">
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Aukštų skaičius</label>
                    <md-select required ng-model="floorType" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="fType in floorTypes" ng-value="fType.name">
                            {{fType.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            @*<div layout="column">
                <md-input-container class="md-block">
                    <label>Statymo metai</label>
                    <input md-maxlength="25" name="buildyear" ng-model="buildyear">
                </md-input-container>
            </div>*@

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Patogumai</label>
                    <textarea name="features" required mg-maxlength="255" rows="5" md-select-on-focus ng-model="features"></textarea>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Paskirtis</label>
                    <md-select required ng-model="housePurpose" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="hPurpose in housePurposes" ng-value="hPurpose.name">
                            {{hPurpose.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <md-checkbox name="water" ng-model="water">
                        Ar yra vandentiekis
                    </md-checkbox>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <md-checkbox name="sewerage" ng-model="sewerage">
                        Ar yra kanalizacija
                    </md-checkbox>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Šildymas</label>
                    <md-select required ng-model="heating" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="heat in heatingList" ng-value="heat.id">
                            {{heat.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Namo tipas</label>
                    <md-select required ng-model="bType" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="b in bTypes" ng-value="b.id">
                            {{b.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Kambarių skaičius</label>
                    <md-select required ng-model="roomType" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="rType in roomTypes" ng-value="rType.name">
                            {{rType.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label>Būklė</label>
                    <md-select required ng-model="conditionType" width="4">
                        <md-option><em>Pasirinkite</em></md-option>
                        <md-option ng-repeat="conType in conditionTypes" ng-value="conType.name">
                            {{conType.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <md-button href="#" class="md-raised md-primary" ng-click="backToAddress()">
                    <label>Atgal</label>
                </md-button>

                <md-button class="md-raised md-primary" ng-click="submitBuilding()" ng-disabled="buildingForm.$invalid">
                    <label>Įdėti</label>
                </md-button>
            </div>

        </form>
    </div>
    <div layout="column" class="upload_column_div">
        @*<div layout="column">
                <md-input-container class="md-block">
                    <label>Miestas</label>
                    <input md-maxlength="20" required name="city" ng-model="city">
                    <div ng-messages="uploadForm.city.$error">
                        <div ng-message="required">Miestas yra privalomas.</div>
                    </div>
                </md-input-container>
            </div>*@
    </div>


</div>