﻿@{

}
<div layout="column" layout-align="center center" layout-fill>
    <ui-view></ui-view>
</div>


<!--
<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="Paieska">
            <md-content>
                <div layout="row"  layout-align="center center" flex>
                    <div layout="row" layout-margin layout-padding>
                        <div layout="row" layout-wrap flex="noshrink">
                            <form name="searchForm" ng-submit="searchForm()">
                                <div layout="column" flex>
                                    <div layout="row" flex>
                                        <md-input-container flex="50">
                                            <label>Tipas</label>
                                            <md-select ng-model="wantedType">
                                                <md-option ng-repeat="wanted in wantedType" value="{{wanted}}">{{wanted}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="50">
                                            <label>Miestas</label>
                                            <md-select ng-model="wantedCity">
                                                <md-option ng-repeat="city in wantedCity" value="{{city}}">{{city}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout="row" flex>
                                        <md-input-container>
                                            <label>Plotas(m<sup>2</sup>) nuo:</label>
                                            <input ng-model="sizeFrom"/>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Plotas(m<sup>2</sup>) iki:</label>
                                            <input ng-model="sizeTo"/>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex="100">
                                            <label>Kambariai:</label>
                                            <md-select ng-model="rooms"
                                                       md-on-close="clearSearchTerm()"
                                                       data-md-container-class="selectdemoSelectHeader"
                                                       multiple >
                                                <md-select-header class="demo-select-header">
                                                </md-select-header>
                                                <md-optgroup label="vegetables">
                                                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                                                    filter:searchTerm">{{vegetable}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex="100">
                                            <label>Aukstas:</label>
                                            <md-select ng-model="floors"
                                                       data-md-container-class="selectdemoSelectHeader"
                                                       multiple >
                                                <md-optgroup label="aukstas1">
                                                    <md-option layout="row" ng-value="aukstas1" ng-repeat="aukstas1 in aukstas">{{aukstas1}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout="row" flex="30">
                                        <md-input-container>
                                            <label>Kaina(&euro;) nuo:</label>
                                            <input ng-model="priceFrom"/>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Kaina(&euro;) iki:</label>
                                            <input ng-model="priceTo"/>
                                        </md-input-container>
                                    </div>
                                    <md-button class="md-primary md-raised" ng-disabled="searchForm.$invalid" ng-click="submit()">Ieskoti</md-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Naujausi">
            <div class='md-padding' layout="row" layout-align="center canter" layout-wrap>
                <div layout="row" layout-sm="column" layout-align="start-start" layout-wrap>
                    <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-card class="ad" ng-repeat="notice in notices" ng-click="showInfo(notice.Id);">
                    <img src="../../Content/namas.jpg" flex="auto" height="400px" width="400px" class="md-card-image">
                    <md-card-content>
                        <h2>{{notice.Name}}</h2>
                        <p>Kainas: {{notice.Price}}</p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Save</md-button>
                        <md-button>View</md-button>
                    </div>
                </md-card>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
    -->