﻿<div layout="column" layout-align="center center">
    <md-progress-circular ng-show="loading" ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>

        <div ng-show="!emptyList && !loading" layout-align="center center"  flex>
            <md-card ng-repeat="notice in notices" ;" class="noticeCard" flex>
                <md-card-header>
                    <md-card-header-text layout="row" flex>
                        <div layout="column" class="imageDiv" flex>
                            <img src="../../Content/namas.jpg">
                        </div>
                        <div layout="column" class="noticeTitle" flex>
                            <h2 class="md-tite" ui-sref="noticeShow({id: notice.Id})"><a>{{notice.Name}}</a></h2>
                            <h4><b>Kaina: {{notice.Price}} &euro;</b></h4>
                            <h5>{{notice.City}}</h5>
                        </div>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout-align="start start" layout="row" layout-margin flex>
                    <div layout="column" flex>
                        <div layout="row" flex>
                            <p layout="column" flex>Kambariai: {{notice.RoomCount}}</p>
                            <p layout="column" flex>Aukštas: {{notice.Floor}}</p>
                            <p layout="column" flex>Plotas: {{notice.Area}}</p>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    <ul  ng-show="!emptyList && !loading" uib-pagination total-items="totalItems" ng-model="currentPage" role="menu"
        force-ellipses="true" rotate="true" ng-change="pageChanged()" max-size="maxSize"
        boundary-links="true"></ul>
    <div ng-show="emptyList && !loading" layout-align="center center" flex>
        <md-card class="nullNotice" flex>
            <md-card-content layout-align="center center">
                <h1>Skelbimu pagal jusu kriterijus nera</h1>
            </md-card-content>
        </md-card>
    </div>
</div>
