﻿<div layout="row" layout-align="center center" flex>
    <md-progress-circular ng-show="loading" ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
    <div layout-align="center center" flex>

        <md-card ng-repeat="notice in notices"  class="noticeCard" flex>
            <md-card-header>
                <md-card-header-text layout="row" flex>
                    <div layout="column" class="imageDiv" flex>
                        <img src="../../Content/namas.jpg">
                    </div>
                    <div layout="column" class="noticeTitle" flex>
                        <h2 class="md-tite" ui-sref="noticeShow({id: notice.Id})"><a>{{notice.Name}}</a></h2>
                        <h4><b>Kaina: {{notice.Price}} &euro;</b></h4>
                        <h5>{{notice.City}}</h5>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout-align="start start" layout="row" layout-margin flex>
                <div layout="column" flex>
                    <div layout="row" flex>
                        <p layout="column" flex>Kambariai: {{notice.RoomCount}}</p>
                        <p layout="column" flex>Aukštas: {{notice.Floor}}</p>
                        <p layout="column" flex>Plotas: {{notice.Area}}</p>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>

