﻿    <div class="content-small" layout="row" layout-align="center center" flex>
        <div layout="column" layout-align="center center" flex>
            <form name="loginForm" ng-submit="submitForm()">
                <md-input-container layout="column" flex>
                    <input placeholder="El.paštas" type="email" ng-model="loginData.email" aria-label="Įveskite elektroninį paštą"  required />
                    <div class="custom-error">
                        <p ng-show="email_bad">*Blogas elektroninis pastas</p>
                    </div>
                </md-input-container>
                <md-input-container layout="column" flex>
                    <input placeholder="Slaptažodis" type="password" ng-model="loginData.password" aria-label="Įveskite slaptažodį"  required />
                </md-input-container>
                <div class="custom-error">
                    <p ng-show="badMatch">*Paštas nesutampa su slaptažodžiu</p>
                </div>
                <div layout="column" layout-align="start center">
                    <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid || waiting" ng-click="submit()">Prisijungti</md-button>
                    <md-button class="md-accent">Pamiršau slaptažodį</md-button>
                </div>
            </form>
</div>
    </div>

