﻿@{
    Layout = null;
}
<md-card flex>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Profilio redagavimas</span>
            <span class="md-subhead"> <b>El. pastas:</b> {{userInfo.Email}}</span>
            <span class="md-subhead"> <b>Slapyvardis:</b> {{userInfo.UserName}}</span>
            <span class="md-subhead"><b>Role: </b> {{userInfo.Role}}</span>
            <span class="md-subhead"><b>Sukurimo data: </b>  {{userInfo.CreationDate}}</span>
            <input placeholder="Miestas"  ng-model="userInfo.AditionalInfo.City"/>
            <input placeholder="Valstybė" ng-model="userInfo.AditionalInfo.Country" />
            <div layout="row">
                <input placeholder="Gatvė" ng-model="userInfo.AditionalInfo.Street" />
                <input placeholder="Nr" ng-model="userInfo.AditionalInfo.StreetNo" />
            </div>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="save()">Save </md-button>
    </md-card-actions>
</md-card>
