﻿@{
    Layout = null;
}
<md-card flex>
    <md-card-content layout-align="start start" layout="row" layout-margin>
        
            <img src="../../Content/profile.jpg" height="25%" width="25%"></img>
            <div layout="column">
                <span class="md-headline">Profilio informacija</span>
                <span class="md-subhead"> <b>El. pastas:</b> {{userInfo.Email}}</span>
                <span class="md-subhead"> <b>Slapyvardis:</b> {{userInfo.UserName}}</span>
                <span class="md-subhead"><b>Role: </b> {{userInfo.Role}}</span>
                <span class="md-subhead"><b>Sukurimo data: </b>  {{userInfo.CreationDate}}</span>
                <span class="md-subhead"><b>Miestas: </b> {{userInfo.AditionalInfo.City}}</span>
                <span class="md-subhead"><b>Valstybė: </b> {{userInfo.AditionalInfo.Country}}</span>
                <span class="md-subhead"><b>Gatvė: </b>{{userInfo.AditionalInfo.Street}}<b> Nr: </b>  {{userInfo.AditionalInfo.StreetNo}}</span>
            </div>
        
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="profile.info.edit">Redaguot </md-button>
    </md-card-actions>
</md-card>
