﻿@{
    Layout = null;
}
<div layout="column" ng-cloak>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="true"
                    md-whiteframe="4" style="height:40%!important">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Profilis</h1>
            </md-toolbar>
            <md-content layout="column" layout-align="center stretch" >
                <md-menu-item>
                    <md-button class="md-secondary md-raised" ui-sref="profile.info" flex>Profilio informacija</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-secondary md-raised" ui-sref="profile.myNotices" flex>Mano Skelbimai</md-button>
                </md-menu-item>  
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <ui-view></ui-view>
        </md-content>
    </section>
</div>
