﻿    <div class="content-small" layout="row"  layout-align="center center" flex>
        <div layout="column" layout-align="center center" flex>
            <form name="registerForm" ng-submit="submitForm()" >
                <md-input-container layout="column">
                    <input placeholder="Slapyvardis" type="text" ng-model="registration.username" required />
                    <div class="custom-error">
                        <p ng-show="usernameWhiteSpace">*Negali buti tarpu</p>
                        <p ng-show="userExists">*Toks vartotojas jau yra</p>
                    </div>
                </md-input-container>
                <md-input-container layout="column">
                    <input placeholder="Elektroninio pasto adresas" type="text" ng-model="registration.email" required />
                    <div class="custom-error">
                        <p ng-show="emailExists">*Toks paštas jau yra</p>
                        <p ng-show="email_bad">*Blogas elektroninis pastas</p>
                        <p ng-show="emailWhiteSpace">*Negali buti tarpu</p>
                    </div>
                </md-input-container>
                <md-input-container layout="column">
                    <input placeholder="Slaptažodis" type="password" ng-model="registration.password" required />
                    <div class="custom-error" ng-show="pass_bad">
                        <p ng-show="pass_short">*Slaptazodis turi buti 8 simboliu</p>
                        <p ng-show="pass_not_number">*Slaptazodi turi sudaryti bent vienas skaicius</p>
                        <p ng-show="passwordWhiteSpace">*Negali buti tarpu</p>
                    </div>
                </md-input-container>
                <md-input-container layout="column">
                    <input placeholder="Pakartokite slaptazodi" type="password" ng-model="reenter_password" required />
                    <div class="custom-error" ng-show="pass_not_match"><p>*Slaptazodziai nesutampa</p></div>
                </md-input-container>
                <div layout="column" layout-align="start center">
                    <md-button class="md-raised md-primary" ng-disabled="registerForm.$invalid || waiting" ng-click="submit()">Registruotis</md-button>
                </div>
            </form>
        </div>
        </div>


