﻿@{
    Layout = null;
}
<div layout="row" layout-align="center center">
    <md-input-container class="laukuMazinimas">
        <label>Vartotojo vardas</label>
        <input ng-model="form.name">
    </md-input-container>
    <md-input-container class="laukuMazinimas">
        <label>Vartotojo Rolė</label>
        <input ng-model="form.role">
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="searchUsers()">Ieskoti</md-button>
</div>
<div ng-show="!emptyList">
    <div layout-align="center center" >
        <md-card ng-repeat="user in users" flex>
            <md-content ui-sref="admin.userList.user({id: user.Id})" layout="row">
                        <p flex>Slapyvardis: {{user.UserName}}</p>
                        <p flex>El paštas: {{user.Email}}</p>
                        <p flex>Skelbimu skaicius: {{user.NoticeCount}}</p>
                        <p flex>Rolė: {{user.Role}}</p>
                        <p flex>{{user.CreationDate}}</p>
            </md-content>
        </md-card>
        <div layout="column" layout-align="center center">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" role="menu"
                force-ellipses="true" rotate="true" ng-change="pageChanged()" max-size="maxSize"
                boundary-links="true"></ul>
        </div>
    </div>
</div>
<div ng-show="emptyList" layout-align="center center" flex>
    <md-card class="nullNotice" >
        <md-card-content layout-align="center center" flex>
            <h1>Vartotoju nerasta</h1>
        </md-card-content>
    </md-card>
</div>

