﻿body {
}
.newsetList md-grid-list {
  margin: 8px;
  background: #000000;
}
newsetList md-actions {
  margin: 8px;
  background: #000000;
}
.newsetList .gray {
  background: #000000;
}

.newsetList md-grid-tile {
  transition: all 400ms ease-out 50ms;
}