﻿.content-small {
    width: 100%;
    height: 80%;
    display: flex;
    overflow-y:hidden;
}

md-toolbar {
    background-color: white!important;
    position: relative!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    cursor:pointer;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

.imgDiv {
    height: 20%;
    width: 20%;
}

.noticeTitle {
    padding-left: 5%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nullNotice {
    color: #D8000C;
    background-color: #FFBABA;
}

.ad {
    height:30%;
    width:30%;
}

.noticeCard {
    width: 32%;
    height: 40%;
    float: left;
    position: relative;
}


