﻿<!DOCTYPE html>
<html ng-app="MVCApp">
<head>
    <!--<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title> 
    
    -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <!-- framework 
        
        <script src="../../Scripts/frameworks/angular-ui-router.min.js"></script>
        -->
    <script src="../../Scripts/frameworks/angular-1.5.0.min.js"></script>
    
    <script src="//unpkg.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.js"></script>
    <script src="../../Scripts/frameworks/ct-ui-router-extras.min.js"></script>
    <link href="../../Scripts/frameworks/angular-csp.css" rel="stylesheet" />
    <link href="../../Scripts/frameworks/angular-material.min.css" rel="stylesheet" />
    <script src="../../Scripts/frameworks/angular-animate.js"></script>
    <script src="../../Scripts/frameworks/angular-aria.js"></script>
    <script src="../../Scripts/frameworks/angular-material.js"></script>
    <script src="../../Scripts/frameworks/Chart.min.js"></script>
    <script src="../../Scripts/angular-local-storage.min.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="https://unpkg.com/ui-router-visualizer@4.0.0"></script>

</head>

<body  ng-controller="LandingPageController">
    <div layout="column" ng-cloak>
        <md-toolbar layout="row" md-whiteframe="8" layout-align="center center" md-scroll-shrink="false">
            <div layout-align="start center" layout="row" flex>

                <md-button aria-label="Open" ng-click="toggleLeft()" ui-sref-active="active" layout-align="center center">
                    <img src="../../Content/search_18dp_1x.png" flex="auto" class="md-card-image">
                </md-button>
                <md-button layout-align="start center" class="md-primary" ui-sref="newest" ui-sref-active="active">Pagrindinis</md-button>
                
            </div>

            <md-button data-ng-hide="!authentication.isAuth" class="md-secondary md-raised md-warn" ui-sref="upload" ui-sref-active="active">
                Įdėti skelbimą
            </md-button>
            <md-menu data-ng-hide="!authentication.isAuth" layout-align="end end" md-position-mode="target-right bottom">
                <md-button class="md-secondary md-raised" ng-click="$mdOpenMenu($event)">
                    @(HttpContext.Current.User.Identity.Name == null ? "PROFILIS" : HttpContext.Current.User.Identity.Name)
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button class="md-secondary md-raised" ui-sref="profile.info" flex>Profilis</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-secondary md-raised" ui-sref="profile.myNotices" flex>Mano skelbimai</md-button>
                    </md-menu-item>
                    <md-menu-item data-ng-hide="!authentication.isAdmin">
                        <md-button  class="md-secondary md-raised" ui-sref="admin" flex>Admin</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button layout-align="end none" class="md-secondary md-raised" ng-click="logOut()" flex>Atsijungti</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            @*<md-button data-ng-hide="!authentication.isAuth" layout-align="end none" class="md-secondary md-raised" ng-click="logOut()" flex>Atsijungti</md-button>*@

            <md-button data-ng-hide="authentication.isAuth" class="md-primary md-raised" ui-sref="login" ui-sref-active="active">Prisijungti</md-button>
            <md-button data-ng-hide="authentication.isAuth" class="md-secondary md-raised" ui-sref="register" ui-sref-active="active">Registruotis</md-button>

        </md-toolbar>
        <md-content style="height: 90vh">
            <ui-view></ui-view>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </md-content>
    </div>
        <section layout="row" flex>
            <md-sidenav layout="column" md-component-id="left" md-whiteframe="4">
                <md-toolbar class="md-primary">
                    <h1 class="md-toolbar-tools">Paieška</h1>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                </md-toolbar>
                <div layout="column" layout-margin>
                    <md-input-container class="laukuMazinimas">
                        <label>Tipas</label>
                        <md-select ng-model="filter.type">
                            <md-option><em>-</em></md-option>
                            <md-option ng-repeat="wanted in types" value="{{wanted.wantedType}}">
                            {{wanted.wantedType}}
                            </md-option>

                        </md-select>
                    </md-input-container>
                    <md-input-container class="laukuMazinimas">
                        <label>Paskirtis</label>
                        <md-select ng-model="filter.goal">
                            <md-option><em>-</em></md-option>
                            <md-option ng-repeat="goal in goals" value="{{goal.id}}">
                                {{goal.name}}
                            </md-option>

                        </md-select>
                    </md-input-container>
                    <md-input-container class="laukuMazinimas">
                        <label>Miestas</label>
                        <md-select ng-model="filter.city">
                            <md-option><em>-</em></md-option>
                            <md-option ng-repeat="city in wantedCity" value="{{city}}">{{city}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="laukuMazinimas">
                        <label>Plotas(m<sup>2</sup>) nuo:</label>
                        <input type="number" string-to-number min="0" ng-model="filter.areaFrom">
                    </md-input-container>
                    <md-input-container class="laukuMazinimas">
                        <label>Plotas(m<sup>2</sup>) iki:</label>
                        <input type="number" string-to-number min="0" ng-model="filter.areaTo">
                    </md-input-container>
                    
                    <div>
                        <p >Kambariai</p>
                        <div layout="row" layout-align="space-around center">
                            <md-input-container>
                                <label>nuo</label>

                                <md-select ng-model="filter.roomFrom">
                                    <md-option><em>-</em></md-option>
                                    <md-option ng-repeat="room in rooms" ng-value="room.wantedRoom">
                                        {{room.wantedRoom}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>iki</label>
                                <md-select ng-model="filter.roomTo">
                                    <md-option><em>-</em></md-option>
                                    <md-option ng-repeat="room in rooms" ng-value="room.wantedRoom">
                                        {{room.wantedRoom}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div>
                        <p layout-align=" center">Aukštas</p>
                        <div layout="row" layout-align="space-around center">
                            <md-input-container>
                                <label>nuo</label>
                                <md-select ng-model="filter.floorFrom">
                                    <md-option><em>-</em></md-option>
                                    <md-option ng-repeat="floor in floors" ng-value="floor.wantedFloor">
                                        {{floor.wantedFloor}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>iki</label>
                                <md-select ng-model="filter.floorTo">
                                    <md-option><em>-</em></md-option>
                                    <md-option ng-repeat="floor in floors" ng-value="floor.wantedFloor">
                                        {{floor.wantedFloor}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    
                    
                    
                    <md-input-container>
                        <label>Kaina(&euro;) nuo:</label>
                        <input type="number" string-to-number min="0" ng-model="filter.priceFrom">
                    </md-input-container>
                    <md-input-container>
                        <label>Kaina(&euro;) iki:</label>
                        <input type="number" string-to-number min="0" ng-model="filter.priceTo">
                    </md-input-container>
                    <div>
                        <md-button class="md-primary md-raised" ng-click="search()">Ieskoti</md-button>
                    </div>
                </div>

            </md-sidenav>

        </section>

        <!--
            <ui-view></ui-view>


            <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Next2", "Index", "Home")</li>
                        <li>@Html.ActionLink("Next3", "Index", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div> -->
        <!---->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/MVCApp")
        @RenderSection("scripts", required: false)
</body>
</html>
